$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-size-base: 16px;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container {
  width: 970px;
}

.nn-btn-link {
    @extend .btn;
    @extend .btn-link;
    @extend .btn-lg;
    @extend .center-block;
}

.nn-year {
    @extend .well;
    padding-top: 0px;
}

[ng-cloak] {
    display: none !important;
}
