<!doctype html>
<html>
<head>
<meta charset="utf-8">
<base href="/">
<title>NaNoRenO - Visual Novel Game Jam</title>
<meta name="viewport" content="width=device-width">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="nanorenoApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <img src="images/2016.png" style="width: 100%;" class="center-block"
          alt="NaNoRenO: Visual Novel Game Jam"
        >
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <p>NaNoRenO is a online game jam in which developers are challenged to make a visual
          novel from scratch. It runs from the start of March 1st to the end of March 31st, and has
          been run every year since 2005. NaNoRenO has no judging or prizes - the only rewards are
          those that come from the challenge and camaraderie with others.</p>

        <p>
          NaNoRenO has always been organized by the English-language visual novel development community,
          especially the members of the <a href="http://lemmasoft.renai.us/forums/index.php">Lemma Soft Forums</a>. This
          site serves as a hub to help find their many efforts.
        </p>

        <p ng-controller="DeathClock">
           <span ng-cloak>
           NaNoRenO {{ year }}

           <span ng-if="now < start">
            starts in
            <ng-pluralize count="startDays" when="{ 'one' : '{} day', 'other' : '{} days' }">
            </ng-pluralize><span ng-if="startDays < 1">, {{ startHours }}:{{ startMinutes }}:{{ startSeconds }}</span>

            and
           </span>

           ends in
            <b>
            <ng-pluralize count="endDays" when="{ 'one' : '{} day', 'other' : '{} days' }">
            </ng-pluralize>, {{ endHours }}:{{ endMinutes }}:{{ endSeconds }}.
            </b>
            </span> &nbsp;
        </p>


      </div>
    </div>


    <h3 class="text-center">Current Year</h3>

    <a href="http://lemmasoft.renai.us/forums/viewforum.php?f=50" class="nn-btn-link">NaNoRenO
      Works in Progress Forum</a>


    <div class="nn-year">
      <h4 class="text-center">2016</h4>

      <div class="row">
        <div class="col-md-4">
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=13&t=37034" class="nn-btn-link">Main/Rules Thread</a>
        </div>
        <div class="col-md-4">
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=59&t=37057" class="nn-btn-link">Recruitment Thread</a>
        </div>
        <div class="col-md-4">
          <a href="http://itch.io/jam/nanoreno-2016" class="nn-btn-link">Itch.io Jam Page</a>
        </div>
      </div>

    </div>

    <h3 class="text-center">Previous Years</h3>

    <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=50&t=28161" class="nn-btn-link">NaNoRenO
      Games List</a>

    <div class="nn-year">
      <h4 class="text-center">2015</h4>

      <img src="images/2015.jpg" class="img-rounded center-block" style="max-width: 400px">

      <div class="row">
        <div class="col-md-4">
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=13&t=30252" class="nn-btn-link">Main/Rules
            Thread</a>
        </div>
        <div class="col-md-4">
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=59&t=30327" class="nn-btn-link">Recruitment
            Thread</a>
        </div>
        <div class="col-md-4">
          <a href="http://itch.io/jam/nanoreno-2015" class="nn-btn-link">Itch.io Jam Page</a>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2014</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=26192" class="nn-btn-link">Post-Mortem Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2013</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=19232" class="nn-btn-link">Main Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2012</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=13992" class="nn-btn-link">Main Thread</a>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2011</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=9380" class="nn-btn-link">Main Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2010</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=6636" class="nn-btn-link">Main Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2009</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=4709" class="nn-btn-link">Main Thread</a>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2008</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=3011" class="nn-btn-link">Main Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2007</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=1750" class="nn-btn-link">Main Thread</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2006</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=943" class="nn-btn-link">Main Thread</a>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-md-offset-4 col-md-4">
        <div class="nn-year">
          <h4 class="text-center">2005</h4>
          <a href="http://lemmasoft.renai.us/forums/viewtopic.php?f=4&t=428" class="nn-btn-link">Main Thread</a>
        </div>
      </div>


    </div>

    <hr>

    <p class="text-center">If you find issues with this website, please email
    <a href="mailto:pytom@bishoujo.us">pytom@bishoujo.us</a>.
    </p>


  </div>





  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!--  build:remove -->
  <script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/deathclock.js"></script>
  <!-- endbuild -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1855234-12', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
